@import "variables";

.shelfContainer{
  height:$height;
  overflow-y:scroll;
  position:relative;
  background-color: $background-color;
  background-size:contain;
}

.shf, .shfG{
  position:absolute;
  top: 0;
  left: 0;
}

.shf{
  margin-left:27%;
  width:50%;
  z-index:10;
}

.shfG{
  width:100%;
  z-index:5;
}

.articleP{
  position:absolute;
  top: 0;
  left: 0;
}

.shfMargin{
  margin:18% 2% 0% 2%;
}

.shfGMargin{
  margin-top:8%;
}

.bbook{
  box-shadow: 5px 2px 9px #6A6A6A;
}
