@import "variables";

.shelfContainer{
  height:$height;
  overflow-y:scroll;
  position:relative;
  background-color: $background-color;
  background-size: contain;
}

.shelf{
  position:absolute;
  top: 0;
  left: 0;
}

.shf{
  @extend .shelf;
  margin-left:27%;
  width:50%;
  z-index:10;
}

.shfG{
  @extend .shelf;
  width:100%;
  z-index:5;
}

.shfMargin{
  margin:18% 2% 0% 2%;
}

.shfGMargin{
  margin-top:8%;
}

.articleP{
  position:absolute;
  top: 0;
  left: 0;
}

.book{
  box-shadow: $bookShadow;
}
